@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
  min-height: 100%;
  max-width: 100%;
  background-size: cover;
  background: linear-gradient(to right, #ffc107, #d6660a);
  box-sizing: border-box;
  overflow-x: hidden;
  display: block;
  scroll-behavior: smooth;
}

section {
  padding-top: 80px;
}
#team,
#gallery {
  padding-top: 80px;
}
/**/
/**/
/**/
/****************************************** Nav */

.link {
  color: #ffc107;
  font-weight: 900;
  display: block;
  padding: 1rem 1rem;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-radius: 0.25rem;
}

.link:hover,
a > h1:hover {
  text-decoration: none;
  color: #d9534f;
}
/**/
/**/
/**/
/****************************************** BMI */

#height,
#weight, 
#inches,
#pounds {
  width: 100px;
  height: 25px;
  margin-top: 10px;
}

p > span {
  margin-left: 10px;
}

#resultsB,
#resultsA {
  border-radius: 10px;
  padding: 10px 25px;
  text-align: center;
  font-size: 100%;
  min-height: 50px;
  background-color: #ffc107;
  border: 2px solid #e84610;
}

.bmi-button {
  border-radius: 10px;
  padding: 10px 25px;
  text-align: center;
  font-size: 100%;
  background-color: #ffc107;
  border: 2px solid #e84610;
  color: black;
}

.bmi-button:hover {
  background: #4b4949;
  border: 2px solid #ffc107;
  color: black;
  text-decoration: none;
}
/**/
/**/
/**/
/****************************************** Sticky social Content */

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3b5998;
  color: white;
}

.instagram {
  background: #55acee;
  color: white;
}
/**/
/**/
/**/
/****************************************** BMI popup Content */
/*----- from https://codepen.io/imprakash/pen/GgNMXO */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 6;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background-color: rgb(236, 160, 18);
  background-position: center;
  height: 30%;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 100ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: rgb(240, 6, 6);
}

.popup .content {
  max-height: 30%;
  overflow: auto;
  color: black;
}

@media screen and (max-width: 700px) {
  .popup {
    width: 70%;
  }
}
/**/
/**/
/**/
/****************************************** Tabs Content */

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  z-index: 1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/**/
/**/
/**/
/****************************************** Video */

.hero {
  position: relative;
  background-color: black;
  height: calc(100vh - 72px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 3;
}

.hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 2;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.hero-content {
  position: relative;
  z-index: 3;
}

@media screen and (max-width: 576px) {
  .hero {
    height: 100vh;
    min-height: 500px;
    background-image: url(/assets/images/header-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section video {
    display: none;
  }
}

.join-button {
  border-radius: 10px;
  margin-top: 20px;
  padding: 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: #ffc107;
  border: 2px solid #e84610;
  color: black;
}

.join-button:hover {
  background: #4b4949;
  border: 2px solid #ffc107;
  color: black;
  text-decoration: none;
}
/**/
/**/
/**/
/****************************************** Services */

section.pricing {
  background: linear-gradient(to right, #ffc107, #d6660a);
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
  list-style: none;
}

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}
/**/
/**/
/**/
/****************************************** Gallery */

.block-divider {
  width: 96%;
  height: 2px;
  border: 0;
}

.block-divider--white {
  background-color: azure;
}

.block-divider-gallery {
  width: 50px;
  height: 2px;
  border: 0;
}

.block-divider--red {
  background-color: #e84610;
}

.block-divider--black {
  background-color: black;
}
/**/
/**/
/**/
/****************************************** Contact Me */

.form-group {
  color: black;
}

.form-control {
  background-color: transparent;
  border-color: black;
}

.form-control:hover {
  border-color: #e84610;
}

.enter {
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: #ffc107;
  border: 2px solid #e84610;
  color: black;
}

.enter:hover {
  background: #4b4949;
  border: 2px solid #ffc107;
  color: black;
  text-decoration: none;
}

/*--------------------------------------------Map*/
div#map {
  min-height: 360px; /* For rendering problems */
}
/**/
/**/
/**/
/****************************************** Footer Content */

footer {
  position: relative;
  bottom: 0;
  padding: 10px;
  color: #878787;
  min-width: 100%;
}

.footer-details ul {
  text-align: center;
  margin: 0;
}

.footer-details li {
  display: inline-block;
  padding-left: 10px;
}

.icon i {
  font-size: 20px;
  display: block;
  text-align: center;
}